{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="{{DomainUri}}/source/css/main.css">

<style>
:root {
  --maincolor: #725CAD;
  --subcolor: #eee;
  --bgcolor: #3C3C3C;
  --btn_w_color: #fff;
}
body{
	width: 100vw;
	height: 100vh;
	min-width: 1100px;
	min-height: 600px;
}

.center_box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_wrap {
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  padding-top: 6vh;
  padding-left: 6vw;
}

.box_top_txt{
	font-size: 21px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 13px 4px;
}

.info_txt{
	font-size: 18px;
	color: #A393CF;
	font-weight: 500;
	line-height: 45px;
}

.btn_box{
	height: 100px;
	max-width: 300px;
	width: 80vw;
	background-color: var(--btn_w_color);
	border-radius: 30px;
	transition:
    transform 0.3s ease,
    filter    0.3s ease,
    box-shadow 0.3s ease;
}

.btn_box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn_txt{
	font-size: 42px;
	color: var(--bgcolor);
	font-weight: 600;
}

.box_wrap{
	display: flex;
	align-items: flex-end;
	padding-top: 20px;
}

.input_box{
	width: 660px;
	height: 100px;
	background-color: var(--btn_w_color);
	background-color: #e2e2e2;
	border-radius: 30px;
	border: 6px solid #fff;
	margin-right: 35px;
	padding: 10px;
	font-size: 42px;
	color: var(--bgcolor);
	font-weight: 600;
}

.box_middle_wrap{
	padding: 40px 0;
}

.box_middle_wrap .btn_box{
	max-width: 660px;
	width: 80vw;
	height: 120px;
}

.box_bottom_wrap{
	padding-top: 20px;
	display: flex;
	align-items: stretch;
	max-width: 80vw;
}
.box_bottom_wrap a:hover{
	color: #fff !important;;
	font-weight: 500;
}

.w_txt{
	font-size: 17px;
	font-weight: 400;
	color: #fff;
	line-height: 1.4;
}

.link_title{
	width: 100px;
	margin-right: 25px;
}
</style>

<div class="main_wrap">
	<span class="info_txt">
		사용자 채팅창과 관리자 페이지를 함께 열어두시면 실시간 채팅 확인과 설정이 가능합니다.
	</span>
	<div class="box_wrap">
		<div class="input_wrap">
			<p><span class="box_top_txt">
					채팅을 위한 닉네임을 입력해 주세요
			</span></p>
			<input type="text" class="input_box">
		</div>
		<a href="javascript:void(0);" class="btn_box center_box chat_start_box">
			<span class="btn_txt">채팅 시작하기</span>
		</a>
	</div>
	<div class="box_middle_wrap">
			<p><span class="box_top_txt">
				유저들이 남긴 채팅 내역을 확인해 보세요
			</span></p>
		<a href="{{DomainUri}}admin" target="_blank"
		rel="noopener noreferrer" class="btn_box center_box">
			<span class="btn_txt">GO 채팅 관리자 페이지</span>
		</a>
	</div>
	<div class="box_bottom_wrap">
		<p><span class="w_txt link_title">
			깃허브 링크
			</span></p>
		<a href="https://github.com/jxxaexxixx/portfolio" target="_blank"
		rel="noopener noreferrer">
			<span class="w_txt">https://github.com/jxxaexxixx/portfolio</span>
		</a>
	</div>
	<div class="box_bottom_wrap">
		<p><span class="w_txt link_title">
				피그마 링크
			</span></p>
		<a
		href="https://www.figma.com/design/Hx7kwtmhCqia6EYFDH5WJg/%EB%B0%95%EC%A0%9C%EC%9D%B4?node-id=2103-2&t=81JyPUgZJJ6j0jFx-1"
		target="_blank"
		rel="noopener noreferrer"
		>
		<span class="w_txt">
			https://www.figma.com/design/Hx7kwtmhCqia6EYFDH5WJg/%EB%B0%95%
			EC%A0%9C%EC%9D%B4?node-id=2103-2&t=81JyPUgZJJ6j0jFx-1
		</span>
		</a>
	</div>
	{# <div class="box_bottom_wrap">
			<p><span class="w_txt link_title">
				erdcloud
			</span></p>
		<a href="https://www.erdcloud.com/d/k7qsm4axfipePh3iY"
		target="_blank"
		rel="noopener noreferrer">
			<span class="w_txt">https://www.erdcloud.com/d/k7qsm4axfipePh3iY</span>
		</a>
	</div> #}
</div>
<script type="text/javascript">
$(document).ready(function(){
	const body = $('body');


	const socket = io.connect('{{ ChatIoUri }}', {
		transports: ['polling'],  // 웹소켓보다 polling만 허용
		forceNew: true
	});

	socket.on('connect', function () {
		body.off('click', '.chat_start_box');
		body.on('click', '.chat_start_box', function () {
			var name = $('.input_box').val() ;
			if (!name) {
				pAlert('닉네임을 입력해 주세요.');
				return;
			}
			pLoadingOn();
			$.post(DomainUri+'/LoginCon/ChatStart',{
				name: name
			},function(data){
				var tmpArr=JSON.parse(data);
				var objData   = tmpArr.data;
				var objResult = tmpArr.result;
				console.log(objData);
				if(objResult=="t"){
					socket.emit('NewClient', [{
						name: objData.name,
						rn: objData.rn,
						msg: objData.msg,
						time: objData.time,
						formatted_time: objData.formatted_time,
					}]);
					window.open('{{DomainUri}}chat', '_blank');
				}else{
					pAlert(tmpArr.msg)
				}
			pLoadingOff();
			});
		});
	});


});
</script>
{% endblock %}


